#weather {background-color:whitesmoke;}
#weather h1{color:navy;}
#weather .area{color:navy;}
#weather .temperature{color:orange;}
#weather > p {color:blue;} /* 여기 잘 모르겠음 */
#weather .sub_title {background-color:rgb(156, 165, 190);}
#weather .humidity {background-color:rgb(156, 165, 190); color:blue;}
#weather .dust {color:black;}
#weather .result {background-color:#eee; color:black;}
#news {background-color:rgba(0,255,0,0.3);}
#news > a {color:orange;}
#news .box {background-color:white;}
#news .box a {background-color:pink;}
#news .box a h2 {color:hotpink;}
#news .box a p {color:red;}
#news > p {color:green;}
#news > p span {color:black;}
/* 16,17번은 news의 자식 p니까 꺽쇠표시! */


