/* reset.css */
html, body, h1,h2,h3,h4,h5,h6,p,a,div,blockquote,address,video,ul,ol,li,dl, dt,dd,hr,span,em,strong,s,del,sup,sub,img,q,code {
    font-size:1em; font-weight:400; 
    line-height:1; letter-spacing:0;
    color:#000;
    margin:0; padding:0;
    text-decoration:none;
}
/* 여러가지 선택자를 한번에 묶어서 한꺼번에 초기화해줘야함.*/
/* 초기화값 입력 : 기본값으로 입력하기*/
/* 폰트크기 평균값 1em */
/* magin, padding은 여백 */
/* text-decoration은 밑줄을 말함 */