/* index.css */
#wrap {
    /* background-color:#fff; */
    width:440px; height:956px;/* 프레임크기 지정 */
    text-align:center;/* 수평 가운데정렬. text-align은 자식자손(인라인)에게 적용됨 */
}
#wrap h1 {/* 이미지태그에 쓰는게 아니라 먼저 보이는 태그에 값을 쓴다. */
    padding-top:357px;
    /* 패딩이 안쪽, 마진이 바깥쪽 여백. 마진으로 했을때 밀리면 패딩으로 주기. 마진으로 주면 배경의 바깥쪽 여백이라고 잘못 인식하는 경우가 있어서 패딩으로 바꿔주기 */
    padding-bottom:135px;
}
#wrap h1 img {}
#wrap .btn_wrap {
    width:300px;
    /* 블록의 너비값을 부모보다 작게 설정했을 때 블록을 가운데정렬하고 싶다면? */
    margin-left:auto;
    margin-right:auto;
    text-align:left;/* btn_wrap의 인라인 자식, 자손 왼쪽정렬 */
}
/* 공통 태그 선택자 a를 만들어서,같은 값 주고 싶으면 여기에 쓰기 */
#wrap .btn_wrap a {
    display:block;/* 블록의 너비는 부모 너비의 100%와 같다. */
    text-align:center;/* 글자보다 넓은 너비를 가진 a의 자식글자를 가운데정렬 */
}
#wrap .btn_wrap .login_btn {
    height:40px;
    line-height:40px;
    background-color:#FFA955;
    color:#fff;
    border:1px solid #000;
    border-radius:15px;
    font-size:0.875rem;/* 14px */
}
#wrap .btn_wrap .sign_up_btn {
    height:40px;
    line-height:40px;
    margin-top:16px;
    margin-bottom:16px;
    background-color:#fff;
    /* border:선두께 선모양 선색상; */
    border:1px solid #000;
    border-radius:15px;
    font-size:0.875rem;/* 14px */
}
#wrap .btn_wrap .pw_search {
    color:#272727;/* 이거는 너비랑 글자가 똑같으니까 a에서 가운데정렬해도 티가 안남 */
    display:inline;
    font-size:0.75rem /* 12px */
}